.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 39px;
  z-index: 1;
}

.name {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  line-height: 32px;
  letter-spacing: -0.44px;
}

.connect {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-right: 29.51px;
}

.icon:hover {
  cursor: pointer;
}

.icon > path {
  fill: #fff;
}

.icon:hover > path {
  fill: #4ee1a0;
}

@media screen and (max-width: 540px) {
  .header {
    width: 153.99px;
    height: 72px;
    flex-direction: column;
  }

  .name {
    font-size: 24px;
  }

  .connect {
    gap: 25.6px;
  }
}
