.hero {
  width: 100%;
  height: auto;
  padding-bottom: 104px;
  background: url("/pattern-rings.svg") top 133px left -100px no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 1110px;
  height: auto;
  position: relative;
}

.info {
  width: 100%;
  background: url("/pattern-circle.svg") bottom 70px right 380px no-repeat;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.text {
  width: 709px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 43px;
  position: absolute;
  left: 0;
  bottom: 115px;
  z-index: 1;
}

.title {
  font-size: 88px;
  font-weight: 700;
  color: #fff;
  line-height: 88px;
  letter-spacing: -2.5px;
}

.title > span {
  text-decoration: 6px solid underline;
  text-decoration-color: #4ee1a0;
  text-underline-offset: 14px;
}

.description {
  width: 445px;
  font-size: 18px;
  font-weight: 500;
  color: #d9d9d9;
  line-height: 28px;
  letter-spacing: 0%;
}

.cta {
  width: 120px;
  height: 38px;
  background: none;
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 2.29px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4ee1a0;
  cursor: pointer;
}

.cta:hover {
  color: #4ee1a0;
}

.image {
  width: 445px;
  height: 720px;
  object-fit: cover;
}

@media screen and (max-width: 1140px) {
  .content {
    width: 1024px;
  }

  .text {
    width: 600px;
  }
}

@media screen and (max-width: 1050px) {
  .hero {
    padding-bottom: 60px;
    background: url("/pattern-rings.svg") top 86px left -265px no-repeat;
  }

  .content {
    width: 708px;
  }

  .info {
    background: url("/pattern-circle.svg") bottom 0 right -63.44px no-repeat;
  }

  .text {
    width: 100%;
    gap: 0;
    bottom: 0;
  }

  .title {
    width: 430px;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -2.05px;
  }

  .title > span {
    text-decoration-thickness: 5px;
    text-underline-offset: 11px;
  }

  .description {
    margin-top: 60px;
  }

  .cta {
    margin-top: 34px;
  }

  .image {
    content: url("/image-profile-tablet.webp");
    width: 322px;
    height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 0 0 60px 32px;
    align-items: start;
  }

  .content {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .hero {
    padding: 0 0 60px;
    background: url("/pattern-rings.svg") top 124px left -342px no-repeat;
    align-items: center;
  }

  .content {
    width: 500px;
  }

  .info {
    background: none;
    display: flex;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    gap: 40px;
  }

  .text {
    position: static;
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .description {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .hero {
    padding-bottom: 80px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info {
    padding: 0 16px;
    background: url("/pattern-circle.svg") top 254px right -65px no-repeat;
  }

  .text {
    gap: 24px;
  }

  .title {
    width: 343px;
    font-size: 40px;
    line-height: 40px;
    line-height: -1.14px;
  }

  .title > span {
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
  }

  .description {
    margin-top: 0;
    font-size: 16px;
    line-height: 26px;
  }

  .cta {
    margin-top: 0;
  }

  .image {
    content: url("/image-profile-mobile.webp");
    width: 174px;
    height: 383px;
  }
}
