.projects {
  width: 100%;
  height: auto;
  padding: 0 0 139px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.top {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 88px;
  font-weight: 700;
  color: #fff;
  line-height: 88px;
  letter-spacing: -2.5px;
}

.cta {
  width: 120px;
  height: 38px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 2.29px;
  outline: none;
  border: none;
  border-bottom: 2px solid #4ee1a0;
  cursor: pointer;
}

.cta:hover {
  color: #4ee1a0;
}

.bottom {
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 69px 30px;
}

@media screen and (max-width: 1140px) {
  .top,
  .bottom {
    width: 1024px;
  }
}

@media screen and (max-width: 1050px) {
  .projects {
    padding: 0 0 100px;
    gap: 60px;
  }

  .top {
    width: 706px;
  }

  .title {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.05px;
  }

  .bottom {
    width: 708px;
    gap: 60px 22px;
  }
}

@media screen and (max-width: 740px) {
  .top,
  .bottom {
    width: 500px;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
  }
}

@media screen and (max-width: 540px) {
  .projects {
    padding: 15px 16px 80px;
    gap: 40px;
  }

  .top,
  .bottom {
    width: 100%;
  }

  .title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.14px;
  }

  .bottom {
    gap: 40px;
  }
}
