*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 1440px;
}

body {
  height: auto;
  background: #151515;
  font-family: "Space Grotesk", sans-serif;
}
